#conteinerHash {
    display: flex;
    gap: 10px;
    justify-content: center;
  } 
  
  #hash {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  #hash:hover {
    background-color: #0056b3;
  }
  #informa {
    display: none;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    border-radius: 5px;

  }

  #informa {
    font-size: 16px;
    background-color: #f0f0f0;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out, transform 0.1s ease-in-out, box-shadow 0.3s ease-in-out;
  }